/* Utility Classes */
.display-1 {
	font-size: 2.5rem;
}

.p-1 {
	padding: 50px;
}

.ptb-1 {
	padding: 80px 0;
}

.ptb-2 {
	padding: 200px 0;
}

.pr-1 {
	padding-right: 0;
}

.flex {
	flex-direction: column;
}

/* Navbar */
#navbar {
	height: 100%;
	padding: 20px 0;
}

#navbar .container {
	flex-direction: column;
}

/* About */
#about {
	text-align: center;
}

#about img {
	padding-top: 20px;
}
